<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- com.dao.UserDao对应Dao接口 -->
<mapper namespace="com.dao.UserDao">
    <!-- 查询用户信息 -->
    <select id="selectUserByUsername" resultType="com.po.User" parameterType="com.po.User">
        select * from user where username=#{username}
    </select>
    <!-- 验证登录信息 -->
    <select id="verifyUser" resultType="com.po.User" parameterType="com.po.User">
        select * from user where username=#{username} and password=#{password}
    </select>
    <!-- 添加用户信息 -->
    <insert id="addUser" parameterType="com.po.User" keyProperty="id" useGeneratedKeys="true">
        insert into user(username, password, nickname, email) values (#{username}, #{password}, #{nickname}, #{email})
    </insert>
</mapper>
